.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $white-color;
font-weight: 500;
  z-index: 999;

  transform: translateX(100%);
  transition: transform $transition-duration $transition-timing-function;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu__toggle {
  position: absolute;
  top: 8px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  @media (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  color: $primary-text-color;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  &.current {
    color: $accent-color;
  }
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.mobile-contacts__tel {
  display: block;
   font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 32px;
}

.mobile-contacts__mail {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
}
.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mobile-socials__item {
  padding-right: 10px;
  border-right: 1px solid $secondary-text-color;

  &:last-child {
    padding-right: 0;
    border: none;
  }
  &:first-child {
    padding-left: 0;
  }
}
.mobile-socials__link {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;
}
